@charset "utf-8";
html,
body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.photos {
    ul {
        padding: 0;
        width: 100%;
        column-count: 2;
        column-gap: 1em;
        @media all and (min-width: 768px) {
            column-count: 5;
        }
        li {
            list-style: none;
            .close {
                display: none;
            }
        }
        .modal {
            display: none;
            &.active {
                background-color: rgba(0, 0, 0, 0.8);
                position: fixed;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                padding: 20px;
                z-index: 999;
                width: 100%;
                .modal-img {
                    background-color: #fff;
                    padding: 50px 50px 30px 50px;
                    position: relative;
                    z-index: 99;
                    img {
                        display: block;
                        width: auto;
                        margin: auto;
                        max-height: 80vh;
                    }
                }
                .close {
                    color: #222;
                    cursor: pointer;
                    display: block;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    width: 40px;
                    height: 40px;
                    border: 1px solid #222;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 30px;
                    font-size: 30px;
                    z-index: 9999;
                }
                .exif {
                    color: #222;
                    display: block;
                    font-size: 18px;
                    font-weight: bold;
                    margin: 20px auto 0 auto;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }
    .photo {
        margin: 0 0 0.8em 0;
        width: 100%;
    }
}

.copy {
    position: absolute;
    right: 20px;
    bottom: 10px;
}